:root {
  --primary-color: #1a2c43;
  --secondary-color: #ddd;
  --accent-color: #7dcb15;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('./assets/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.navbar {
  background-color: var(--primary-color);
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;

  height: 70px;
}
.logo {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  padding-right: 10px;
  border-right: solid 3px var(--accent-color);
  margin-right: 8px;
}
.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: auto;
}
.nav-links li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}
.nav-links li a:hover {
  background-color: var(--secondary-color);
  color: black;
}
.profile, .cart {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: 10px 8px;
  gap: 8px;
  height: 32px;
}

.footer {
  background-color: var(--primary-color);
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  text-align: center;
  color: var(--secondary-color);
  height: 70px;
}